*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
#canvas{

}
.control{
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:50px;
    background-color: #999;
}
.control > div{
    padding-left:30px;
    float:left;
    height:50px;
    line-height: 50px;
}
